/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:focus {
  color: var(--hover-clr);
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  border-bottom: 2px solid var(--hover-clr);
  width: 0%;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
  transition: width 0.3s;
}

.theme-menu__button:hover {
  color: var(--hover-clr);
  transition: color 0.3s;
}

.theme-menu__button:disabled {
  color: var(--hover-clr);
  transition: color ease 0.3s;
  pointer-events: none;

}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--hover-clr);
  transition: color ease 0.3s;
  pointer-events: none;
  left: -20px;
  animation: cursor 0.5s ease-in-out infinite alternate;
}

@keyframes cursor {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(4px);
  }
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .contour {
  fill: var(--heart-clr);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-clr);
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--heart-clr);
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .contour {
  fill: var(--heart-clr);
  transition: fill 0.3s;
}

.like-icon:active .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.03s;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: beat 0.3s ease-in 0.1s 2 alternate;
}

@keyframes beat {
  0% {
    transform: scale(1);
    transform-origin: center;
  }

  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s 0.3s ease-in 2 alternate;
}

@keyframes spark {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button:focus {
  outline: none;
  border: 2px solid var(--border-clr);
  transition: border 0.3s ease;
}
.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--border-clr);
  transition: box-shadow 0.3s;
}

.button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  transform: scaleX(0);
  background-color: var(--border-clr);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}